<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3039136007-duueo8271g239eo9hbc8ijlhmdsa5a7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3039136007-duueo8271g239eo9hbc8ijlhmdsa5a7h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>3039136007-0jsrp5uc0a9gbbrlcuvepvqmqhu8crdt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9NexLY7xvJwr--DBqhXvNq486q7OhOpo</string>
	<key>GCM_SENDER_ID</key>
	<string>3039136007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IOS.FOCUSLY</string>
	<key>PROJECT_ID</key>
	<string>focuslypractice</string>
	<key>STORAGE_BUCKET</key>
	<string>focuslypractice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:3039136007:ios:88cff9dc437ee9a7805da2</string>
	<key>DATABASE_URL</key>
	<string>https://focuslyiosdb-2304a.firebaseio.com/</string>
</dict>
</plist>
